{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "indent": 1,
    "no-empty": 1,
    "react/prop-types": 1,
    "react/no-did-update-set-state": 1,
    "react/destructuring-assignment": 1,
    "react/no-unused-state": 1,
    "react/jsx-wrap-multilines": 1,
    "implicit-arrow-linebreak": 1,
    "react/jsx-filename-extension": 1,
    "react/jsx-indent": 1,
    "global-require": 1,
    "quotes": 1,
    "react/no-access-state-in-setstate": 1,
    "semi": 1,
    "no-trailing-spaces": 1,
    "keyword-spacing": 1,
    "prefer-const": 1,
    "padded-blocks": 1,
    "no-undef": 1,
    "no-multi-spaces": 1,
    "no-mixed-operators": 1,
    "no-lonely-if": 1,
    "consistent-return": 1,
    "no-shadow": 1,
    "object-curly-spacing": 1,
    "object-curly-newline": 1,
    "eqeqeq": 1,
    "no-nested-ternary": 1,
    "no-dupe-keys": 1,
    "space-in-parens": 1,
    "no-unused-vars": 1,
    "no-unused-expressions": 1,
    "no-restricted-globals": 1,
    "eol-last": 1,
    "space-before-blocks": 1
  }
}
